
.index-bg {
	background-image: url('https://ucarecdn.com/94684b24-c827-4219-b31b-57c2508bd577/Untitled3.png');
	/*height: 100vh;*/
	height: 100vh;
	background-size: cover;

}
.navbar {
	margin-bottom: 0px;
}

.container-fluid {
	background-color: #212121;
}


#app {
	background-color: tan;
}

.welcomeBox {
	background: linear-gradient(bottom, rgba(75,81,93,.3), rgba(75,81,93,.3));
	background: -webkit-linear-gradient(bottom, rgba(75,81,93,.3), rgba(75,81,93,.3));
	border-radius: 8px;
	padding: 2em;
}

p {
	color: white;
}
